---
import DasboardLayouts from "../../../../../layouts/DasboardLayouts.astro";
import AsideMenuUser from "../../../../../components/AsideMenuDasboard/AsideMenuUser.astro";
import rectangle from "../../../../../assets/rectangleCard.svg";
import voluntario from "../../../../../assets/equipo.jpg";
import ButtonCTASmall from "../../../../../components/Buttons/ButtonCTASmall.astro";
import ButtonPrimarySmall from "../../../../../components/Buttons/ButtonPrimarySmall.astro";
import ButtonSecondarySmall from "../../../../../components/Buttons/ButtonSecondarySmall.astro";
import FormSelectedLogin from "../../../../../components/Forms/FormSelectedLogin.tsx";
---

<DasboardLayouts title="DashboardAdmin - Un Litro Alta Gracia.">
  <div class="flex flex-row h-screen bg-secondary">
    <div class="w-1/3 h-full pl-14 py-10">
      <AsideMenuUser
        ><h3 class="text-3xl font-medium text-primary">
          Menu de control
        </h3></AsideMenuUser
      >
    </div>
    <div class="h-full w-full px-14 py-10 flex flex-col justify-between">
      <div
        class="shadown-3xl rounded-xl bg-textPrimary shadow-3xl p-10 flex flex-row justify-around h-full gap-4 "
      >
       
        <div class="">
          <div
            class="h-full w-80 rounded-3xl shadow-3xl  "
          >
           
              <img
                src={voluntario.src}
                alt="imagen"
                class="absolute h-4/5 w-80 object-cover rounded-3xl"
              />
           
           
          </div>
        </div>
        <div class=" flex flex-col p-2 gap-5 justify-center">
          <div class="">
          <h4 class="text-2xl font-medium text-primary w-full text-end">
            SER VOLUNTARIO/A
          </h4>
        </div>
        <div
          class="flex flex-col gap-5 justify-center items-center  bg-yellow-200"
        >
          <div class="flex flex-col">
            <h5 class="text-xl font-semibold">
              ¡Sé parte de nuestro equipo de voluntarios/as!
            </h5>
            <p>
              Te invitamos a formar parte de esta gran organización en la que, además de ayudar a más de 10 merenderos de la ciudad, te encontrarás con un grupo maravilloso de voluntarios con muchas ganas de colaborar y compartir actividades en equipo.
            </p>
            
          </div>
        </div>
        <div class="">
          <FormSelectedLogin client:load />
        </div>
          
        </div>
      </div>
    </div>
  </div>
</DasboardLayouts>
