---

import DasboardLayouts from "../../../layouts/DasboardLayouts.astro";
import AsideMenuSocioVolunteer from "../../../components/AsideMenuDasboard/AsideMenuSocioVolunteer.astro";
---

<DasboardLayouts title="DashboardAdmin - Un Litro Alta Gracia.">
  <div class="flex flex-row h-screen bg-secondary">
    <div class="w-1/3 h-full pl-14 py-10">
      <AsideMenuSocioVolunteer />
    </div>
    <div class="h-full w-full px-14 py-10 flex flex-col justify-between">
      <div
        class="shadown-3xl rounded-xl bg-textPrimary shadow-3xl p-10 flex flex-col justify-between h-full"
      >
        <div>
          <h4
            class="text-2xl font-medium text-colorSocioVoluntario  w-full text-end">
            AJUSTES DE PERFIL
          </h4>
          <hr />
        </div>
      </div>
    </div>
  </div>
</DasboardLayouts>
