---
import CartitaPrueba from "../../../components/CartitaPrueba.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("tips");
import serSocio from "../../../assets/pibePortada.jpg"
import serVoluntario from "../../../assets/voluntario.jpg"
import serSponsor from "../../../assets/sersponsor.jpg"

---

<section>
  {
    posts.map((post: any) => (
      <CartitaPrueba
        image={
          post.data.image === "serSocio"
            ? serSocio
            : post.data.image === "serVoluntario"
            ? serVoluntario
            : serSponsor
        }
        title={post.data.title}
        question={post.data.question}
        description={post.data.description}
        link={post.data.link}
      />
    ))
  }
</section>
