<!-- ---

---

<div>
    <h1>
        hola section
    </h1>
    <div>
       {
        tips.map((tip:any) => (
            <div>
                title={tip.data.title}
						time={tip.data.pubDate}
						tags={tip.data.tags}
						slug={tip.slug}
            </div>
        ))
       }
    </div>
</div> -->