---
import serSocioPage from '../../../assets/serSocioPage2.jpg'
import { Image } from 'astro:assets';
---

<div class="relative my-3 flex justify-end">
  <div class="absolute inset-0" style={{ backgroundImage: `linear-gradient(to right, rgba(255, 255, 255,0.99) 35%, transparent 100%)` }}></div>
  <div class="absolute inset-0 top-24 left-36 w-2/5">
    <div>
      <h1 class="text-5xl font-bold mb-3 leading-tight">Ser socio es invertir en un futuro mejor para todos</h1>
    </div>
  </div>
  <Image src={serSocioPage} alt="La imagen" class="object-none bg-cover bg-center h-96" loading="lazy" decoding="async"/>
</div>
