---

---

<div class="flex flex-col flex-wrap content-center justify-centeritems-center p-5 mt-10 ">
    <h3 class="text-3xl font-bold mb-6 ">¿Por qué ser Socio?</h3>
    <div class="text-base w-3/4 font-normal text-textParagraph">
      <p >
        Ser sponsor de nuestra ONG es más que una donación: es un compromiso estratégico con el cambio positivo. Como sponsor, tu empresa o negocio obtendrá reconocimiento a través de eventos, materiales promocionales y nuestras plataformas digitales. Además, te invitaremos a reuniones exclusivas y eventos especiales, dándote la oportunidad de conocer de cerca el impacto de tu apoyo.
      </p>
      <p>
        Tu contribución nos ayuda a expandir programas clave, permitiéndonos llegar a más personas y comunidades. Ser sponsor significa ser parte de algo grande y compartir la visión de un futuro mejor. Te invitamos a unirte a nosotros como sponsor y a jugar un papel fundamental en nuestra misión. <b>¡Tu participación marcará la diferencia!</b>
      </p>
      <p>
        Ser sponsor de nuestra ONG te brinda la oportunidad de ser un agente de cambio real. Tu apoyo nos permite expandir nuestros programas y llegar a más personas que necesitan ayuda. Como sponsor, no solo te beneficiarás del reconocimiento y visibilidad que obtendrás a través de nuestros eventos y plataformas, sino que también tendrás la oportunidad de participar en reuniones estratégicas y ceremonias exclusivas. Es una relación de beneficio mutuo: tú contribuyes al bien común mientras que tu marca se asocia con valores positivos y responsabilidad social. Únete a nosotros como sponsor y sé parte de la transformación que queremos ver en el mundo. Juntos, podemos crear un impacto significativo y duradero.
      </p>
    </div>
  </div>
  