---
import Layout from '../../layouts/Layout.astro';
import WorkShopDescription from '../../components/fromWorkshop/WorkShopDescription.astro';
import GetAllWorkShopsClientComponent from '../../components/GetComponents/GetAllWorkShopsClientComponent';
---   
<Layout title="Talleres - Un Litro Alta Gracia.">
<main>
<h1 class="text-center mt-20 text-5xl font-bold mb-6">Talleres disponibles</h1>
<WorkShopDescription/>
<GetAllWorkShopsClientComponent client:load />
</main>
</Layout>