---
import Layout from '../../../layouts/Layout.astro';
import GetDinamicCommunityKitchensClientComponent from '../../../components/GetComponents/GetDinamicCommunityKitchen'
---
<Layout title="Merendero - Un Litro Alta Gracia.">
<main>
<GetDinamicCommunityKitchensClientComponent client:load />
</main>
</Layout>