---
import BannerAboutMe from "../../components/fromAboutMe/BannerAboutMe/BannerAboutMe.astro";
import NuestraMision from "../../components/fromAboutMe/NuestraMision/NuestraMision.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Quienes Somos - Un Litro Alta Gracia.">
  <main>
    <BannerAboutMe />
    <NuestraMision />
  </main>
</Layout>
