---
// remote last slash from pathname
const { pathname } = Astro.url;
console.log(pathname);
const normalizedPathName =
  pathname.length > 1 && pathname.endsWith("/")
    ? pathname.slice(0, -1)
    : pathname;

const pages = [
  { name: "INICIO", href: "/" },
  { name: "QUIÉNES SOMOS", href: "/aboutMe" },
  { name: "TALLERES", href: "/workshops" },
  {
    name: "DÓNDE AYUDAMOS",
    href: "/communityKitchens",
    active: normalizedPathName.startsWith("/communityKitchens"),
  },
  { name: "EVENTOS", href: "/events" },
  { name: "NOTICIAS", href: "/news" },
].map((page) => ({
  ...page,
  active: page.active ?? normalizedPathName === page.href,
}));
---

<div class="h-full">
  <div class="flex h-full w-full items-center justify-between gap-8">
    {
      pages.map(({ name, href, active }, key) => (
        <>
          <a
            href={href}
            class:list={[
              "text-lg  font-medium text-textPrimary hover:text-cyan-200 transition-colors duration-200 ease-in-out",
              { " bg-nalLink h-full p-2 flex items-center": active },
              { "text-textPrimary": !active },
            ]}
            id={`nav-link-${key}`}
          >
            <span class="z-10">{name}</span>
          </a>
        </>
      ))
    }
  </div>
</div>
