---
import Layout from "../../layouts/Layout.astro";
import BannerSocios from "../../components/fromSocios/BannerSocios/BannerSocios.astro";
---

<Layout title="Socios - Un Litro Alta Gracia.">
  <main>
    <BannerSocios/>
  </main>
</Layout>
