---
import Layout from "../../layouts/Layout.astro";
import BannerSocios from "../../components/fromSocios/BannerSocios/BannerSocios.astro";
import SerSocioText from "../../components/fromSocios/SerSocioText/SerSocioText.astro";
import ResumenSocios from "../../components/fromSocios/ResumenSocios/ResumenSocios.astro";
---

<Layout title="Socios - Un Litro Alta Gracia.">
  <main>
    <BannerSocios/>
    <SerSocioText/>
    <ResumenSocios/>
  </main>
</Layout>
