---
import { Image } from "astro:assets";
import wtpIcon from "../../assets/wtpIconSecondary.svg";
import instaIcon from "../../assets/instaIconSecondary.svg";
import faceIcon from "../../assets/faceIconSecondary.svg";

---
<div class="flex flex-row gap-4">
    <a href="https://api.whatsapp.com/send/?phone=543547563484&text&type=phone_number&app_absent=0"><Image src={wtpIcon} alt="icono Rrss Whatsapp" class=""/></a>
    <a href="https://www.instagram.com/ellitroag/"><Image src={instaIcon} alt="icono Rrss Instagram" class=""/></a>
    <a href="https://www.facebook.com/UnLitroDeLecheXMesXAltaGracia?locale=es_LA"><Image src={faceIcon} alt="icono Rrss Facebook" class=""/></a>
</div>