---
const {title, idEvent} = Astro.props;

---

<button  class=" bg-secondary text-textSecondary  mx-5 px-8 py-2 rounded-full text-lg shadow-3xl hover:scale-105 transition-all focus:shadow-none font-medium h-min w-min whitespace-nowrap" id={idEvent}>{title}</button>

