---
const {title} = Astro.props;

---
<div id="divBoton">
        <button class="bg-primary text-textPrimary px-10 py-2 rounded-full text-lg shadow-lg hover:scale-105 focus:shadow-none font-medium">{title}</button>
</div>

<style>
        button:focus{
                filter: brightness(95%)
        }
</style>