---
const { title, idEvent } = Astro.props;
---

<button
  class=`bg-tertiary transition-all flex flex-row items-center text-textPrimary pl-8 pr-14 py-2 rounded-full text-lg shadow-3xl hover:scale-105 focus:shadow-none font-medium h-min w-min whitespace-nowrap gap-4 `
  id={idEvent}
>
  {title}
  <slot />
</button>

<style>
  button:focus {
    filter: brightness(95%);
  }
</style>
