---
const {title, idEvent} = Astro.props;

---

<button  class="bg-primary text-textPrimary px-10 py-1 rounded-full text-lg shadow-3xl hover:scale-105 focus:shadow-none font-medium h-min w-min whitespace-nowrap" id={idEvent}>{title}</button>


<style>
        button:focus{
                filter: brightness(95%)
        }
</style>