---
const { title, idEvent } = Astro.props;
---

<button
  class=`bg-tertiary text-3xl text-textTertiary p-8 m-0 rounded-full shadow-fulls hover:scale-105 focus:shadow-none    `
  id={idEvent}
>
  {title}
  <slot />
</button>

<style>
  button:focus {
    filter: brightness(95%);
  }
</style>
