<section class="m-10">
    <h2 class="text-4xl font-bold text-textTertiary w-1/2 mb-6" >Participa en nuestros Merenderos:</h2>
    <p class=" text-base font-normal text-textParagraph">
        Nuestra ONG apoya comedores en áreas necesitadas para asegurarse de que ningún niño pase hambre. Estos comedores son más que lugares donde se sirven comidas nutritivas; son espacios de encuentro y apoyo para la comunidad, donde los niños pueden socializar, aprender y sentirse parte de algo especial.<br/>
        Te invitamos a unirte a esta causa y convertirte en parte de esta familia solidaria. Tu colaboración puede ayudar a mantener estos comedores en funcionamiento, brindando alimentos saludables y un entorno seguro para los niños y sus familias. Con tu apoyo, podemos seguir luchando contra el hambre y construyendo comunidades más fuertes y unidas. ¡Tu ayuda es esencial para que esta misión continúe!
    </p>
</section>