<section class="m-10">
    <h2 class="text-4xl font-bold text-textTertiary lg:w-1/2 mb-6" >¡Participa que te esperaremos!</h2>
    <p class=" text-base font-normal text-textParagraph">
        En nuestra ONG, trabajamos para dar oportunidades y esperanza a los niños más necesitados. Organizamos eventos para recaudar fondos, sensibilizar a la comunidad y llevar alegría a los más jóvenes. Les invitamos a unirse a nosotros y ser parte de esta causa que busca transformar vidas y construir un futuro mejor.<br/>
        <!-- Ya sea como voluntarios, patrocinadores o asistentes a nuestros eventos, su participación es clave para lograr nuestro objetivo. Buscamos personas y empresas comprometidas que quieran aportar su tiempo y recursos para ayudar a los niños a alcanzar su potencial. Desde ferias benéficas hasta programas educativos, hay muchas maneras de involucrarse y marcar la diferencia.<br/>
        Si desean más información o tienen ideas para colaborar, no duden en contactarnos. Juntos, podemos hacer mucho más. ¡Esperamos contar con su apoyo para que, juntos, podamos dar a los niños la esperanza y las oportunidades que merecen!<br/> -->
    </p>
</section>