---

---

<div class="flex flex-col flex-wrap content-center justify-centeritems-center p-5 mt-10 ">
  <h3 class="text-3xl font-bold mb-6 ">¿Por qué ser Socio?</h3>
  <div class="text-base w-3/4 font-normal text-textParagraph">
    <p >
      Ser socio en nuestra ONG es ser parte activa de una comunidad comprometida
      con una causa que nos mueve a todos. Tu membresía no solo representa un
      apoyo financiero invaluable, sino que también te conecta más profundamente
      con nuestra misión y actividades. Como socio, no solo estás ayudando a
      financiar proyectos y programas importantes, sino que también estás
      involucrándote activamente en el proceso de cambio. Recibirás
      actualizaciones regulares sobre nuestro trabajo y tendrás la oportunidad
      de participar en eventos especiales exclusivos para socios.
    </p>
    <p>
      Además, al convertirte en socio, también recibirás una tarjeta de
      membresía que te brindará acceso a descuentos y ofertas especiales en una
      variedad de comercios asociados. Esto significa que tu apoyo no solo
      impactará positivamente en nuestra labor, sino que también te permitirá
      disfrutar de beneficios adicionales en tu vida diaria.
    </p>
    <p>
      Ser socio va más allá de hacer una donación; es un compromiso continuo con
      la causa que defendemos y una forma de formar parte activa del cambio que
      queremos ver en el mundo. Te invitamos a unirte a nuestra comunidad de
      socios y a ser parte de esta emocionante jornada hacia un futuro mejor.
    </p>
  </div>
</div>
