<section class="m-10">
    <h2 class="text-4xl font-bold text-textTertiary lg:w-1/2 mb-6" >Horario de cursado:</h2>
    <p class=" text-base font-normal text-textParagraph">
        En nuestra ONG, ofrecemos talleres y cursos profesionales para empoderar y apoyar a quienes lo necesitan. Estos programas cubren desde capacitación laboral y desarrollo de habilidades prácticas hasta educación financiera y soporte emocional, brindando herramientas para el crecimiento personal y profesional.<br/>
        <!-- Para registrarte, comunícate con el número de teléfono que aparece en la descripción de cada taller. Esto nos permite darte información detallada y asegurarte un lugar en el curso de tu elección. ¡Contáctanos y comienza a construir un futuro más brillante! -->
    </p>
</section>