<section class="m-10">
        <h2 class="text-4xl font-bold text-textTertiary w-1/2 mb-6" >Últimas noticias:</h2>
        <p class=" text-base font-normal text-textParagraph">Mantente al tanto de todo lo que sucede en nuestra ONG. Aquí encontrarás las noticias más recientes sobre nuestros proyectos, eventos y actividades. Desde historias inspiradoras hasta logros importantes, este espacio te mantendrá informado sobre cómo estamos trabajando para hacer una diferencia.<br/>
        <!-- Nuestro compromiso con la transparencia y la comunicación nos lleva a compartir contigo las últimas novedades de nuestra ONG. En esta sección de noticias, te mantendremos al día sobre los avances de nuestros programas, eventos futuros y logros recientes. Queremos que conozcas el impacto positivo que tu apoyo tiene en nuestra misión y cómo seguimos creciendo juntos. Únete a nosotros mientras seguimos creando un mundo mejor, y no te pierdas ninguna actualización.
        </p> -->
</section>