---
import Layout from '../../../layouts/Layout.astro';
import GetDinamicNewsClientComponent from '../../../components/GetComponents/GetDinamicNewsComponent'


---
<Layout title="Noticias - Un Litro Alta Gracia.">
<main>
<GetDinamicNewsClientComponent client:load />
</main>
</Layout>