---
import ButtonPrimary from '../../components/Buttons/ButtonPrimary.astro';
import EnConstruccion from '../../components/EnConstruccion/EnConstruccion';
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Eventos - Un Litro Alta Gracia.">
<main>
<div class="flex flex-col justify-center items-center gap-5 m-20">

    <EnConstruccion />
    <a href="/">
        <ButtonPrimary  title="Volver al inicio" />
    </a>
</div>
</main>
</Layout>