---
import Layout from '../../layouts/Layout.astro';
import EventsDescription from '../../components/fromEvents/EventsDescription.astro';
import GetAllEventsClientComponent from '../../components/GetComponents/GetAllEventsClientComponent';

---
<Layout title="Eventos - Un Litro Alta Gracia.">
<main>
<h1 class="text-center mt-20  text-5xl font-bold mb-6">Eventos</h1>
<EventsDescription/>
<GetAllEventsClientComponent client:load />
</main>
</Layout>