---
import { Image } from "astro:assets";
// import ButtonPrimary from "../../../components/Buttons/ButtonPrimary.astro";
import FormLoginFormik from "../../../components/Forms/FormLoginFormik.tsx";
import logoIcon from "../../../assets/Logo.svg";
import iconGoogle from "../../../assets/Google__G__logo.webp";
import "@fontsource-variable/montserrat";
import homeBack from "../../../assets/homeBack.svg";
import BurgerMenu from "../../../components/BurgerMenu/BurgerMenu";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Login - Un litro Alta Gracia</title>
  </head>
  <body class="bg-primary">
    <a href="/" class="fixed hidden lg:flex top-5 left-5 z-10  ">
      <img
        src={homeBack.src}
        alt="Fondo de la página de inicio"
        
      />
    </a>
    <div class="flex flex-col lg:flex-row h-screen w-screen">
      <div class="bg-primary lg:w-1/2 flex flex-col lg:h-auto h-1/4 items-center justify-center  ">
        <a href="/" class="lg:w-4/6 lg:h-auto h-24 flex">
          <Image
            src={logoIcon}
            alt="Logo de Un Litro de Leche Alta Gracia"
            class="w-full"
          />
        </a>
      </div>
      <div
        class="bg-textPrimary lg:w-1/2 h-screen flex flex-col items-center justify-center lg:rounded-none rounded-t-lg"
      >
        <FormLoginFormik client:load />
        <button
          id="buttonLogin"
          class="bg-secondary flex flex-row items-center justify-center transition-all text-textSecondary py-1 rounded-full text-lg shadow-3xl hover:scale-105 focus:shadow-none font-medium whitespace-nowrap"
        >
          <div
            class="flex flex-row gap-1 items-center justify-center content-center w-64"
          >
            <img src={iconGoogle.src} alt="icono de google" class="w-6 h-6" />
            Continuar con Google
          </div>
        </button>
      </div>
    </div>
    <BurgerMenu client:load/>
  </body>
</html>

<script>
  const { signIn } = await import("auth-astro/client");
  const buttonLogin = document.querySelector<HTMLButtonElement>("#buttonLogin");
  if (buttonLogin) {
    buttonLogin.onclick = async () => {
      signIn("google", { callbackUrl: "/" });
    };
  } else {
    console.error("No se encontró ningún elemento con el ID 'buttonLogin'");
  }
</script>

<style is:global>
  :root {
  }
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Variable", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    cursor: pointer;
  }
</style>
