---
import Layout from "../../layouts/Layout.astro";
import BannerSponsor from "../../components/fromSponsors/BannerSponsor/BannerSponsor.astro";
import SerSponsorText from "../../components/fromSponsors/SerSponsorText/SerSponsorText.astro";
import ResumenSponsor from "../../components/fromSponsors/ResumenSponsor/ResumenSponsor.astro";
---

<Layout title="Sponsor - Un Litro Alta Gracia.">
  <main>
    <BannerSponsor/>
    <SerSponsorText/>
    <ResumenSponsor/>
  </main>
</Layout>
