---
import ButtonCTAPlus from "../../Buttons/ButtonCTAPlus.astro";
import more from "../../../assets/more.svg";
import NewsForHome from "../../GetComponents/GetNewsForHomeComponent";
import { Image } from "astro:assets";
---

<section class="my-20">
  <h3 class="m-10 text-textTertiary text-2xl font-semibold tracking-widest">ÚLTIMAS NOTICIAS</h3>
  <NewsForHome client:load/>
  <div class="mt-4 flex items-center justify-center">
    <ButtonCTAPlus>
      <a href="/news">
        <Image src={more} alt="click" />
      </a>
    </ButtonCTAPlus>
  </div>
</section>
