---
import Layout from '../../../layouts/Layout.astro';
import GetDinamicEventsClientComponent from '../../../components/GetComponents/GetDinamicEventComponent'

---
<Layout title="Evento - Un Litro Alta Gracia.">
<main>
<GetDinamicEventsClientComponent client:load />
</main>
</Layout>