---
import Layout from '../../../layouts/Layout.astro';
import GetDinamicWorkShopsClientComponent from '../../../components/GetComponents/GetDinamicWorkShopComponent'
---
<Layout title="Taller - Un Litro Alta Gracia.">
<main>
<GetDinamicWorkShopsClientComponent client:load />
</main>
</Layout>