---
import Layout from '../../layouts/Layout.astro';
import UnsubscribeDescription from '../../components/fromUnsubscribe/UnsubscribeDescription.astro';
import PutUnsubscribeClientComponent from '../../components/PutComponents/PutUnsubscribeClientComponent';
---   
<Layout title="Desuscribirse - Un Litro Alta Gracia.">
<main>
<h1 class="text-center mt-20  text-5xl font-bold mb-20">Desuscribite del newsletter</h1>
<UnsubscribeDescription/>
<PutUnsubscribeClientComponent client:load />
</main>
</Layout>