---
import ButtonCTA from "../../Buttons/ButtonCTA.astro";
import COPIAimgPortada from "../../../assets/COPIAimgPortada.jpg";
import { Image } from "astro:assets";
---

<div class="relative my-3">
  <div
    class="hidden md:block absolute inset-0"
    style={{
      backgroundImage: ` linear-gradient(to right, rgba(255, 255, 255,0.99) 35%, transparent 100%)`,
    }}
  >
  </div>
  <Image
    src={COPIAimgPortada}
    alt="La imagen"
    class="w-full object-cover bg-cover bg-center h-full"
    loading="lazy"
    decoding="async"
  />
  <div class="absolute top-5 lg:top-1/4 justify-center h-full lg:h-auto md:flex flex-col gap-5 w-full"  style="left: 2%">
    <div class=" bg-blue-400/70 lg:bg-transparent px-2 py-1 flex flex-col">
      <h1 class="lg:text-6xl text-3xl lg:text-black  text-white text-center lg:text-start font-bold mb-3">NUESTRA MISIÓN</h1>
      <h2 class="lg:text-2xl  text-xs lg:w-3/5 lg:text-black text-white  font-medium">
        Estamos permanentemente activos para reducir las desigualdades
        socioeconómicas existentes en la sociedad
      </h2>
      <div class="flex  justify-end">

        <a href="/aboutMe">
          <button class="lg:hidden text-xs block bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded  ">
            Conocenos
          </button>
        </a>
      </div>
    </div>
    <div class="hidden lg:block" >

      <a href="/aboutMe">
        <ButtonCTA title="Más sobre nosotros" />
      </a>
    </div>
  </div>
</div>
