---
import ButtonCTA from "../../Buttons/ButtonCTA.astro";
import COPIAimgPortada from "../../../assets/COPIAimgPortada.jpg";
import { Image } from "astro:assets";
---

<div class="relative my-3">
  <div
    class="hidden md:block absolute inset-0"
    style={{
      backgroundImage: ` linear-gradient(to right, rgba(255, 255, 255,0.99) 35%, transparent 100%)`,
    }}
  >
  </div>
  <Image
    src={COPIAimgPortada}
    alt="La imagen"
    class="w-full object-cover bg-cover bg-center h-full"
    loading="lazy"
    decoding="async"
  />
  <div class="absolute inset-0 bottom-5  justify-center mx-10  hidden  md:flex flex-col gap-10">
    <div class="hidden md:block">
      <h1 class="lg:text-6xl text-3xl  font-bold mb-3">NUESTRA MISIÓN</h1>
      <h2 class="lg:text-2xl text-lg w-3/5 font-medium">
        Estamos permanentemente activos para reducir las desigualdades
        socioeconómicas existentes en la sociedad
      </h2>
    </div>
    <a href="/aboutMe">
      <ButtonCTA title="Más sobre nosotros" />
    </a>
  </div>
</div>
