---
import Layout from '../../layouts/Layout.astro';
import DescriptionKitchens from '../../components/fromCommunityKitchens/DescriptionKitchens.astro';
import GetAllCommunityKitchensComponent from '../../components/GetComponents/GetAllCommunityKitchensComponent';
---   
<Layout title="Donde ayudamos - Un Litro Alta Gracia.">
<main>
<h1 class="text-center mt-20  text-5xl font-bold mb-6">¿Dónde ayudamos?</h1>
<DescriptionKitchens/>
<GetAllCommunityKitchensComponent client:load />
</main>
</Layout>