---
import Layout from "../../layouts/Layout.astro";
import ButtonCTASmall from "../../components/Buttons/ButtonCTASmall.astro";
import FormDonation from "../../components/Forms/FormDonation";
import ButtonPrimary from "../../components/Buttons/ButtonPrimary.astro";

const token = Astro.cookies.get("token");
if (token) {

}
---

<Layout title="Donar - Un Litro Alta Gracia.">
  <section class="bg-secondary p-5 justify-center items-center">
    <h1 class="text-4xl font-bold mb-3 text-center">
      ¡Gracias por llegar hasta aquí!
    </h1>
    <div class="flex flex-row items-center justify-center m-10 gap-12">
      <div class="w-3/5 text-lg font-regular text-textParagraph">
        <p>
          Tu contribución marca la diferencia en la vida de muchos
          niños. Todas las donaciones son gestionadas con transparencia por
          nuestra contadora, para
          asegurar que cada centavo se use de manera efectiva.
        </p>
        <br />
        <p>
          Además, te invitamos a que nos envíes un mensaje especial junto con tu
          donación. Nos encantaría saber tus deseos o dedicatorias, y te
          aseguramos que los leeremos con mucho cariño.
        </p>
        <br />
        <p>
          Agradecemos de corazón tu generosidad. Tu apoyo no solo ayuda a los
          niños, sino que también te hace parte de nuestra comunidad. ¡Siempre
          serás bienvenido/a en Alta Gracia!
        </p>
        <br />
        <p>
          <strong> “El Litro ONG - Alta Gracia” </strong>
        </p>
      </div>
      <div class="w-2/5 flex flex-col justify-center">
        <h2 class="text-3xl font-bold text-textTertiary w-full text-center mb-6">¡Hacete socio! con tu subscripción podes disfrutar de los beneficios.</h2>
        {
          token
            ? <ButtonPrimary
                title="Ser socio"
                url="/dashboardUser/profile"
              />
            : <ButtonPrimary
                title="Registrarme y ser socio"
                url="/auth/login2"
              />
              <ButtonPrimary
                title="Registrarme y ser socio"
                url="/auth/register"
              />
        }
        <h2 class="text-2xl font-bold text-textTertiary w-full text-center mb-6">Hace tu donación unica</h2>
        <FormDonation client:load/>
        <button id="sub" style="margin-top: 10px" >¿O preferís suscribirte?</button>
      </div>
      </div>
    </div>
  </section>
</Layout>

<script>

  const subButton = document.getElementById("sub");

  subButton?.addEventListener("click", () => {
    window.open("https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380848f81302d018f95a088ef0453", "_blank");
  })
</script>
