---
import Layout from "../../layouts/Layout.astro";
import FormDonation from "../../components/Forms/FormDonation";
import ButtonPrimarySmall from "../../components/Buttons/ButtonPrimarySmall.astro";

const token = Astro.cookies.get("token");
if (token) {

}
---

<Layout title="Donar - Un Litro Alta Gracia.">
  <section class="bg-secondary p-5 justify-center items-center flex flex-col">
    <h1 class="text-4xl font-bold mb-3 text-center">
      ¡Gracias por llegar hasta aquí!
    </h1>
    <div class="flex flex-row items-start justify-center m-10 gap-12">
      <div class="lg:w-3/5 text-lg font-regular text-textParagraph">
        <p>
          Tu contribución marca la diferencia en la vida de muchos
          niños. Todas las donaciones son gestionadas con transparencia por
          nuestra contadora, para
          asegurar que cada centavo se use de manera efectiva.
        </p>
        <br />
        <p>
          Además, te invitamos a que nos envíes un mensaje especial junto con tu
          donación. Nos encantaría saber tus deseos o dedicatorias, y te
          aseguramos que los leeremos con mucho cariño.
        </p>
        <br />
        <p>
          Agradecemos de corazón tu generosidad. Tu apoyo no solo ayuda a los
          niños, sino que también te hace parte de nuestra comunidad. ¡Siempre
          serás bienvenido/a en Alta Gracia!
        </p>
        <br />
        <p>
          <strong> “El Litro ONG - Alta Gracia” </strong>
        </p>
      </div>
      <div class="lg:w-2/5 flex flex-col justify-center">
        
        <div class="my-10 w-full text-center bg-textPrimary p-5 rounded-2xl shadow-2xl">
          <h2 class="text-3xl font-bold text-textTertiary w-full text-center mb-4">¡Hacete socio!</h2>
          <h4 class="text-2xl font-medium text-textTertiary mb-10"> con tu subscripción podes disfrutar de los beneficios.</h4>
        {
          token
            ? 
            <a href="/dashboardUser/profile/optionSelected/socio">
                <ButtonPrimarySmall
                title="Ser socio"
              />
              </a>
            : 
            <div class="flex flex-row justify-between">
              <div >
                
              <h6 class="mb-4">¿Ya estas registrado?</h6>
              <a href="/auth/login2">
                <ButtonPrimarySmall
                  title="Iniciar sesión"
                  url="/auth/login2"
                  />
                </a>
              </div>
              <div>
                <h6 class="mb-4">¿No tienes cuenta?</h6>
                <a href="/auth/register">
                <ButtonPrimarySmall
                  title="Registrarme"
                />
              </a>
              </div>
            </div>
        }
        </div>
        <div class="bg-textPrimary p-5 rounded-2xl shadow-2xl">
          <h2 class="text-2xl font-bold text-textTertiary w-full text-center mb-6">DONACIÓN UNICA</h2>
          <FormDonation client:load/>
          <button id="sub" style="margin-top: 10px" >¿O preferís suscribirte anonimamente?</button>
        </div>
      </div>
      </div>
    </div>
  </section>
</Layout>

<script>

  const subButton = document.getElementById("sub");

  subButton?.addEventListener("click", () => {
    window.open("https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380848f81302d018f95a088ef0453", "_blank");
  })
</script>
