---

---

<div class="flex flex-col flex-wrap content-center justify-centeritems-center p-5 mt-10 ">
    <h3 class="text-3xl font-bold mb-6 ">¿Por qué ser Voluntario?</h3>
    <div class="text-base w-3/4 font-normal text-textParagraph">
      <p >
        Ser voluntario en "Un Litro" te permite tener un impacto positivo en la comunidad al brindar apoyo y recursos esenciales a quienes más lo necesitan. Te ofrece una oportunidad única para crecer personalmente, desarrollando habilidades como empatía, trabajo en equipo y comunicación. Además, el voluntariado te conecta con otras personas comprometidas, creando lazos significativos y fomentando un sentido de comunidad.
      </p>
      <p>
        Profesionalmente, obtendrás experiencia en áreas como gestión de proyectos y resolución de problemas, lo cual puede ser útil para tu carrera. La satisfacción personal de saber que estás ayudando a mejorar vidas es inigualable. También contribuyes a promover valores humanitarios, como solidaridad y respeto, y puedes inspirar a otros a unirse a la causa.
      </p>
      <p>
        En resumen, ser voluntario en "Un Litro" es una experiencia que te beneficia a ti y a los niños a los que ayudas, generando un impacto duradero en la sociedad.
      </p>
    </div>
  </div>
  