---
import { Image } from "astro:assets";
import logoIcon from "../../assets/Logo.svg"


---

<div  class="bg-tertiary w-full h-28">
    <Image src={logoIcon} alt="Logo de Un Litro de Leche Alta Gracia"/>
</div>