---
import { Image } from "astro:assets";
import logoIcon from "../../assets/Logo.svg";
import SearchPages from "./SearchPages/SearchPages.astro";
import ButtonSecondary from "../Buttons/ButtonSecondary.astro";
import ButtonTextPrimary from "../Buttons/ButtonTextPrimary.astro";
import imagenPerfilDefault from "../../assets/imagenPerfilDefault.svg";

import { getSession } from "auth-astro/server";
import Menu from "./Menu/Menu";

const session = await getSession(Astro.request);
if (session) console.log(session.user?.email);
---

<div
  class="bg-primary w-full h-28 flex flex-row items-center px-10 justify-between content-center shadow-3xl"
>
  <a href="/"
    ><Image src={logoIcon} alt="Logo de Un Litro de Leche Alta Gracia" /></a
  >
  <SearchPages />
  <div class="flex flex-row items-center gap-10 ">
    <a href="/donar">
        <ButtonSecondary title="Dona" />
    </a>

    {
      session ? (
        <Menu client:load>
          {" "}
          <img
            src={session.user?.image}
            alt="Imagen de perfil"
            class="w-20 rounded-full  shadow-3xl bg-slate-400 p-1 hover:scale-105 transition-all"
          />
        </Menu>
      ) : (
        <a href="/auth/login2">
          {/* <ButtonTextPrimary title="Ingresar" idEvent="buttonLogin" /> */}
            <img
                src={imagenPerfilDefault.src}
                alt="Imagen de perfil"
                class="w-16 rounded-full  shadow-3xl bg-secondary p-1 hover:scale-105 transition-all"
            />
        </a>
      )
    }
  </div>
</div>
