<section class="m-10 mb-20">
    <p class=" text-base font-normal text-textParagraph">
        Si ya no deseas recibir más correos con todas nuestras novedades, por favor, ingresa tu correo electrónico en el siguiente campo y presiona enviar para cancelar la suscripción al newsletter.
    </p>
</section>