---
import click from '../../../assets/click.svg';
import ButtonCTAMedium from '../../Buttons/ButtonCTAMedium.astro';
---

<section class="my-8">
    <div class=" flex items-center justify-around m-1">
        <div class=" w-2/5 m-2 flex flex-col justify-center gap-5">
    <h3 class="  text-textTertiary text-2xl font-semibold tracking-widest">TALLERES DISPONIBLES</h3>
    <h3 class="text-4xl font-bold  text-textTertiary">En esta sección podrás ver que cosas puedes aprender en El Litro y Online</h3>
</div>
<ButtonCTAMedium title=`Conocer más` >
    <img src={click.src} alt="click"  />
</ButtonCTAMedium> 
</div>
</section>