---
// import imagenPrueba from '../../../assets/image55.jpeg'
import equipo from '../../../assets/equipo.jpg'
import niñasPintando from '../../../assets/niñasPintando.jpg'
import niñoConJirafa from '../../../assets/niñoConJirafa.jpg'
import niñoFeliz from '../../../assets/niñoFeliz.jpg'



---
<div class=" flex flex-row items-center justify-center content-center">

    <div class="w-1/2 m-10  flex flex-col flex-wrap items-start content-center justify-center">
        <h1 class="text-5xl font-bold mb-6">¿Quiénes Somos?</h1>
        <p class=" text-base w-4/5 font-normal text-textParagraph">
            Somos una Organización No Gubernamental que comenzó su trabajo un 8 de Junio del 2013 cuando un puñado de amigos se reunió por primera vez en Alta Gracia, con la idea de poder ayudar con donaciones a los que más lo necesitan.
            Comenzamos colaborando con la recolección únicamente de leche para que los más pequeños pudieran tener su merienda, pero con el paso del tiempo fuimos descubriendo distintas necesidades.
            En la actualidad colaboramos con más de 200 niños que concurren a merenderos ubicados en distintos barrios de nuestra ciudad.
            Hoy por medio de esta organización queremos, además de brindar la merienda, mejorar la calidad de vida a los más pequeños mediante otros proyectos.
        </p>
    </div>
    <div class=" flex flex-row items-center justify-center w-1/2 p-10">
        <div class="flex flex-col justify-center items-center gap-4">
            <div>
                <img class=" h-80 w-80 rounded-lg" src={niñoFeliz.src} alt="">
            </div>
            <div class="flex flex-row gap-4">
                <div>
                    <img class="h-40 w-40 rounded-lg" src={niñoConJirafa.src} alt="">
                </div>
                <div>
                    <img class="h-40 w-40 rounded-lg" src={equipo.src} alt="">
                </div>
                <div>
                    <img class="h-40 w-40 rounded-lg" src={niñoFeliz.src} alt="">
                </div>
                <div>
                    <img class="h-40 w-40 rounded-lg" src={niñasPintando.src} alt="">
                </div>
                
            </div>
        </div>
    </div>
</div>