---
import Layout from "../layouts/Layout.astro";
import CarruselFromHome from "../components/fromHome/CarruselFromHome/CarruselFromHome.astro";
import SectionInformation from "../components/fromHome/SectionInformation/SectionInformation.astro";
import SectionSponsors from "../components/fromHome/SectionSponsors/SectionSponsors.tsx";
import SectionTalleresDisponibles from "../components/fromHome/SectionTalleresDisponibles/SectionTalleresDisponibles.astro";
import SetionLatestNews from "../components/fromHome/SectionUltimasNoticias/SectionLatestNews.astro";
import BurgerMenu from "../components/BurgerMenu/BurgerMenu";
---
<Layout title="Inicio - Un Litro Alta Gracia.">
  <main>
	<CarruselFromHome />
	<SectionInformation />
	<SectionTalleresDisponibles />
	<SetionLatestNews/>
	<SectionSponsors client:load/>
	
  </main>
</Layout>