---
import Layout from '../layouts/Layout.astro';
import ButtonPrimary from '../components/Buttons/ButtonPrimary.astro';
---

<Layout title="Inicio - Un Litro Alta Gracia.">
	<main>
		<ButtonPrimary title="boton reutilizable"/>
	</main>
</Layout>

<style>
	main {
		
	}

</style>
