---
import DasboardLayouts from "../../../layouts/DasboardLayouts.astro";
import AsideMenuDasboard from "../../../components/AsideMenuDasboard/AsideMenuDasboard.astro";
import ButtonCTASmall from "../../../components/Buttons/ButtonCTASmall.astro";
import ButtonPrimarySmall from "../../../components/Buttons/ButtonPrimarySmall.astro";
import ButtonSecondarySmall from "../../../components/Buttons/ButtonSecondarySmall.astro";
import CommunityKitchensClientComponent from "../../../components/GetComponents/CommunityKitchensClientComponent.tsx";
---

<DasboardLayouts title="DashboardAdmin - Un Litro Alta Gracia.">
  <div class="flex flex-row h-screen bg-secondary">
    <div class="w-1/3 h-full pl-14 py-10">
      <AsideMenuDasboard
        ><h3 class="text-3xl font-medium text-tertiary">
          Menu de Control
        </h3></AsideMenuDasboard
      >
    </div>
    <div class="2-m h-full w-full px-14 py-10 flex flex-col justify-between">
      <div
        class="shadown-3xl rounded-xl bg-textPrimary shadow-3xl p-10 flex flex-col justify-between h-full"
      >
        <h4 class="text-2xl font-medium text-tertiary mb-10 w-full text-end">
          SECCIÓN MERENDEROS
        </h4>
        <div class="h-full">
          <CommunityKitchensClientComponent client:load />
        </div>
        <div class="w-full flex justify-center">
          <a href="/dashboardAdmin/communityKitchens/newCommunityKitchen">
            <ButtonCTASmall title="Agregar merendero" />
          </a>
        </div>
      </div>
      <div class="flex flex-row items-center justify-center flex-nowrap gap-8">
        <div class="mt-6">
          <a href="/dashboardAdmin/sponsors">
            <ButtonSecondarySmall title="Anterior" />
          </a>
        </div>
        <div class="mt-6">
          <a href="/dashboardAdmin/workshops">
            <ButtonPrimarySmall title="Siguiente" />
          </a>
        </div>
      </div>
    </div>
  </div></DasboardLayouts
>
