#divBoton {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton {
    width: 200px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#devs {
    display: flex;
    justify-content: center;
    padding: 10px;
}