---
import NavbarContainer from '../components/Navbar/NavbarContainer.astro';
import FooterContainer from '../components/Footer/FooterContainer.astro';
import '@fontsource-variable/montserrat';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavbarContainer/>
		<slot class="h-full"/>
    <div class="relative bottom-0">
		<FooterContainer/>
    </div>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	:root {}
html {
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Variable', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  cursor: pointer;
}

	
</style>
