---
import { Image } from "astro:assets";
import logoIcon from "../../assets/Logo.svg"
import ButtonCTA from "../Buttons/ButtonCTA.astro";

const { pathname } = Astro.url
console.log(pathname);
const normalizedPathName =
	pathname.length > 1 && pathname.endsWith("/") ? pathname.slice(0, -1) : pathname

const pages = [
	{ name: "NOTICIAS", href: "/dashboardAdmin/news",hrefActive:"/dashboardAdmin/news/newsCreate" , active: false},
	{ name: "SECCION VOLUNTARIOS", href: "/dashboardAdmin/volunteers",  },
	{ name: "SECCION SPONSOR", href: "/dashboardAdmin/sponsor",active: normalizedPathName.startsWith("/dashboardAdmin/sponsor") },
    { name: "SECCION MERENDEROS", href: "/" },
    { name: "SECCION TALLERES DE OFICIO", href: "/dashboardAdmin/workshops" },
    { name: "SECCION EVENTOS", href: "/dashboardAdmin/events" },
    { name: "PROPUESTAS RECIBIDAS", href: "/dashboardAdmin/proposals" },
	
].map((page) => ({
	...page,
	active:  normalizedPathName === page.href || normalizedPathName === page.hrefActive,

}))
---
<div class="bg-textPrimary rounded-2xl shadow-3xl h-full flex justify-between flex-col">
    <div>
    <div class=" bg-tertiary py-5 px-10 rounded-t-2xl">
        <a href="/"><Image src={logoIcon} alt="Logo de Un Litro de Leche Alta Gracia"/></a>
    </div>
    <div class="p-10 w-full text-center">
        <slot />
    </div>
    <div class="flex flex-col w-full items-start justify-between p-10">
            {
                pages.map(({ name, href, active, hrefActive}, key) => ( 
                // pages.map(({ name, href, active}, key) => (
                    <>
                        <a
                            href={href}
                            class:list={[
                                "text-sm my-3 font-normal   hover:scale-105 my-4",
                                { "h-full text-tertiary flex items-center font-semibold ": active },
                            { "text-textTertiary ": !active },
                            ]}
                            id={`nav-link-${key}`}
                        >
                            <span class="z-10">{name}</span>
                        </a>
                        
                    </>
                ))
            }
    </div>
    </div>
    <div class="p-10 flex justify-center">
        <ButtonCTA title="Cerrar Sesion" idEvent="Logout"/>
    </div>
</div>

<script>
function handleClick() {
        console.log("hola");
        return Astro.redirect("/302")
	}
  
	const button = document.getElementById('Logout')
  
	button?.addEventListener('click', handleClick)
    
</script>