---
import Layout from "../../layouts/Layout.astro";
import BannerVoluntarios from "../../components/fromVoluntarios/BannerVoluntarios/BannerVoluntarios.astro";
import SerVoluntarioText from "../../components/fromVoluntarios/SerVoluntarioText/SerVoluntarioText.astro";
import ResumenVoluntario from "../../components/fromVoluntarios/ResumenVoluntario/ResumenVoluntario.astro";
---

<Layout title="Voluntarios - Un Litro Alta Gracia.">
  <main>
    <BannerVoluntarios/>
    <SerVoluntarioText/>
    <ResumenVoluntario/>
  </main>
</Layout>
