---
import { Image } from "astro:assets";
import CardSponsor from "../../Cards/CardSponsor.astro";
import { getCollection } from "astro:content";
import becerra from "../../../assets/becerra.png"
import evi from "../../../assets/evi.png"
import cosag from "../../../assets/COSAG.png"
import farmacia from "../../../assets/farmacia.png"
import jalisco from "../../../assets/JALISCO.png"
import nodDisponible from "../../../assets/nodisponible.png"
const sponsorsList = await getCollection("sponsors");
---

<div>
  <h3 class=" m-10  text-textTertiary text-2xl font-semibold tracking-widest">NUESTROS SPONSORS</h3>
  <div class="gap-5 h-48 flex flex-row items-center justify-center my-20">
    {
      sponsorsList.map((sponsorUnit: any) => (
        <CardSponsor>
          <Image
            src={
              sponsorUnit.data.logo === "becerra"? becerra:
              sponsorUnit.data.logo === "evi"? evi:
              sponsorUnit.data.logo === "cosag"? cosag:
              sponsorUnit.data.logo === "farmacia"? farmacia:
              sponsorUnit.data.logo === "jalisco"? jalisco:
              nodDisponible
                        }
            alt={sponsorUnit.data.name}
            class="rounded-xl"
          />
        </CardSponsor>
      ))
    }
  </div>
</div>
